@import "../../styles/extends";

.ModalFilter {
  //overflow-y: scroll;
  &__heading {
    margin-bottom: 20px;
    @extend %title2;
    font-size: 32px;
    line-height: 40px;
  }
  &__category {
    margin-bottom: 24px;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__title {
    margin-bottom: 12px;
    width: 100%;
    @extend %smallText;
    color: $hint-color;
  }
}