$primary: #ff7010;
$font-color: #191919;
$green: #24d17e;
$hint-color: #a5a5a5;
$border-color: #f0f0f0;
$light-primary: #ffeee2;
$border: 1px solid $border-color;
$font-family: "Montserrat";
$bg-active-btn: rgb(255, 105, 0);
$color-active-btn: rgb(255, 165, 102);
$bg_text-hover-btn: rgba(245, 245, 245, 0.623);
$bg-hover-btn: rgb(232, 97, 0);




