@import "../../styles/extends";

.InputText {
  @extend %smallText;
  color: $hint-color;
  display: flex;
  flex-direction: column;

  &__input {
    @extend %button;
    @extend %text;
    margin-top: 8px;
    background-color: #fff;
    border: 1px solid $border-color;
    padding: 13px 16px;

    &-big {
      width: 850px;
    }

    &-medium {
      width: 270px;
    }

    &-small {
      width: 154px;
    }

    &:focus-visible,
    &:active,
    &:focus {
      outline: none !important;
      border-color: $primary;
    }

    &::placeholder {
      color: $hint-color;
    }
  }

}
