@import "./styles/fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .App {
//   width: 1290px;
//   margin: 0 auto;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
